$primary-color: #2559FF;
$secondary-color: #343B57;
$tertiary-color: #C58F2A;
$black: #101010;
$black2: #232323;
$white: #F4F4F4;
$light-grey: #CFCFCF;
$dark-grey: #484848;

// $primary-gradient: linear-gradient(-45deg, rgba(37, 89, 255, 1) 0%, rgba(39, 68, 162, 1) 100%);

$main-font: var(--main-font);
$second-font: var(--second-font);

$xxl: 5.1rem;
$xl: 3.8rem;
$l: 2.8rem;
$m: 2.1rem;
$s: 1.6rem;
$xs: 1.2rem;
